<div class="show-container">
  <div class="row d-flex">
    <div class="col-sm-12 col-md-6">
      <h1>User Dashboard</h1>
      <p><strong>Welcome </strong><span><%= current_user.first_name %></span> <span><%= current_user.last_name %></span></p>
      <li>
        <%= current_user.email %>
      </li>
      <table class="table table-striped"><strong>Orders</strong>
        <tr>
          <th>Order #</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
        <tr>
          <% @user.orders.each do |order|%>
          <td><%= order.id%></td>
          <td><%= order.start_date %></td>
          <td><%= order.end_date %></td>
          <td><%= order.status %></td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Rockets</h3>
      <table class="table table-striped">
        <tr>
          <th>Rocket name</th>
          <th>Status</th>
        <tr>
          <% @user.rockets.each do |rocket|%>
           <td><%= rocket.name%></td>
          <% end %>
         </tr>
      </table>
      <%= link_to 'Add Rocket ', new_rocket_path(@rocket), class:'btn btn-primary'%>
    </div>
  </div>
</div>
