<div class="container mt-3 ">
  <div class="text-center img-container-rocket-index d-flex justify-content-center align-items-center">
    <h1>Rockets available for hire</h1>
  </div>
</div>

<div class="container mt-4">
  <div class="cards card-container">
    <% @rockets.each do |rocket| %>
      <div class="show-card mx-auto" style="width: 18rem;">
        <div class="card-img-top " alt="rocket card">
          <img src="<%= rocket.rocket_images %>" class="card-img-top" alt="rocket img">
          <div class="card-body">
            <h5 class="card-title"><%= link_to rocket.name, rocket_path(rocket) %></h5>
            <p class="card-text">Payload: <%= rocket.payload %>KG</p>
            <p class="card-text">Location: <%= rocket.location %></p>
            <p class="card-text">Price: $<%= rocket.price %>/day</p>
            <%= link_to 'Learn more', rocket_path(rocket), :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>

