<div class="container mt-3 ">
  <div class="text-center img-container-rocket-index d-flex justify-content-center align-items-center">
    <h1>Rockets available for hire</h1>
  </div>
</div>
<div class="container mt-3 d-flex justify-content-center">
  <div class="search-bar d-flex justify-content-center p-3">
    <div class="search_field"><%= form_tag rockets_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a rocket"
      %>
    </div>
    <div><%= submit_tag "Search", class: "btn btn-primary" %></div>
  <% end %>
  </div>
</div>

<div class="body-container container">
  <div class="cards card-container">
    <% @rockets.each do |rocket| %>
      <div class="show-card mx-auto" style="width: 19rem;">
        <div class="card-img-top " alt="rocket card">
            <% if rocket.rocket_images.first.nil? %>
              <div class="img-container-rocket" style="background-image: url('https://afar-production.imgix.net/uploads/images/afar_post_headers/images/JSlyHAhjDp/original_SpaceHERO_0000_Journey_20To_20Space_203D_20film_20-_20Space_20Launch_20System_20Launch.jpg?auto=compress,format&fit=crop&crop=top&lossless=true&w=1600&h=700'); height: 200px; background-position: center;">
              </div>
            <% else %>
              <div class="img-container-rocket" style="background-image: url('<%= rails_blob_url(rocket.rocket_images.first) %>'); height: 200px; background-position: center; ">
              </div>
            <% end %>
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= link_to rocket.name, rocket_path(rocket) %></h5>
            <div class="cards-container">
              <p class="card-text">Payload: <%= rocket.payload %>KG</p>
              <p class="card-text">Location: <%= rocket.location %></p>
              <p class="card-text">Price: $<%= rocket.price %>/day</p>
            </div>
            <%= link_to 'Learn more', rocket_path(rocket), :class => "btn btn-primary" %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>
