<div class="container mt-3">
  <% if @order.rocket.rocket_images.first.nil? %>
    <div class="img-container-rocket" style="background-image: url('https://afar-production.imgix.net/uploads/images/afar_post_headers/images/JSlyHAhjDp/original_SpaceHERO_0000_Journey_20To_20Space_203D_20film_20-_20Space_20Launch_20System_20Launch.jpg?auto=compress,format&fit=crop&crop=top&lossless=true&w=1600&h=700'); background-position: center;">
    </div>
    <% else %>
    <div class="img-container-rocket" style="background-image: url('<%= rails_blob_url(@order.rocket.rocket_images.first) %>'); background-position: center; ">
    </div>
  <% end %>
  <div class="row">
    <div class="col-7">
      <p id="notice"><%= notice %></p>
      <div class="rocket-title">
        <h2>
          <strong>Your Booking:</strong>
          <%= @order.rocket.name %>
        </h2>
      </div>
    </p>

    <p>
      <strong>Details:</strong>
      <br>
      Start Date: <%= @order.start_date %>
      <br>
      End Date: <%= @order.end_date %>
      <br>
      Total Price: $<%= @order.total_price %>
      <br>
      Location: <%= @order.rocket.location %>
    </p>

    </div>
    <div class="col-5">
      <div class="show-card">
        <h2>Add a review!</h2>
        <%= render 'review-form', order: @order, review: @review %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-7 border-top">
      <div class="mt-3">
        <h2>Reviews</h2>
        <table class="table table-striped mt-3">
          <tr>
          </tr>
      </table>
      </div>
    </div>
  </div>
</div>


