<div class="container mt-3">
  <div class="text-center img-container-rocket">
    <h2>TO:DO PLACE IMAGES HERE</h2>
  </div>
  <div class="row">
    <div class="col-7">
      <p id="notice"><%= notice %></p>
      <div class="rocket-title">
        <h2>
          <strong>Your Booking:</strong>
          <%= @order.rocket.name %>
        </h2>
      </div>
    </p>

    <p>
      <strong>Details:</strong>
      <br>
      Start Date: <%= @order.start_date %>
      <br>
      End Date: <%= @order.end_date %>
      <br>
      Total Price: $<%= @order.total_price %>
      <br>
      Location: <%= @order.rocket.location %>
    </p>
    <%= link_to 'Edit ', edit_rocket_order_path(@order.rocket, @order) %> |
    <%= button_to "Delete this booking",
            rocket_order_path(@order.rocket, @order),
            method: :delete,
            class: 'btn btn-secondary btn-small',
            data: { confirm: "Are you sure?" } %>

    </div>
    <div class="col-5">
      <div class="show-card">
        <h2>Add a review!</h2>
        <%= render 'review-form', order: @order, review: @review %>
      </div>
    </div>
  </div>
</div>


