<div class="container mt-3">
  <% if @order.rocket.rocket_images.first.nil? %>
    <div class="img-container-rocket" style="background-image: url('https://afar-production.imgix.net/uploads/images/afar_post_headers/images/JSlyHAhjDp/original_SpaceHERO_0000_Journey_20To_20Space_203D_20film_20-_20Space_20Launch_20System_20Launch.jpg?auto=compress,format&fit=crop&crop=top&lossless=true&w=1600&h=700'); background-position: center;">
    </div>
    <% else %>
    <div class="img-container-rocket" style="background-image: url('<%= rails_blob_url(@order.rocket.rocket_images.first) %>'); background-position: center; ">
    </div>
  <% end %>
  <div class="row">
    <div class="col-7">
      <p id="notice"><%= notice %></p>
      <div class="rocket-title">
        <h2>
          <strong>Your Booking:</strong>
          <%= @order.rocket.name %>
        </h2>
      </div>
    </p>
    <div class="rocket-details m-3">
      <p><i class="fas fa-calendar-week mr-3"></i></i>From <%= @order.start_date %> until <%= @order.end_date %></p>
      <p><i class="fas fa-dollar-sign mr-3"></i><%= @order.total_price %> / day
      <p><i class="fas fa-location-arrow mr-3"></i><%= @order.rocket.location %></p>
      <p><strong>Description:</strong></p>
      <p><%= @order.rocket.description %></p>
    </div>
    <%= link_to 'Edit', edit_rocket_order_path(@order.rocket, @order), class:"btn btn-outline-dark dp-border-radius m-3" %>
    <%= link_to "Delete", rocket_order_path(@order.rocket, @order), method: :delete, class: 'btn btn-outline-dark dp-border-radius m-3', data: { confirm: "Are you sure?" } %>
    </div>
    <div class="col-5">
      <div class="show-card dp-04 p-3">
        <h2>Add a review!</h2>
        <%= render 'review-form', order: @order, review: @review %>
      </div>
    </div>
  </div>
</div>


