<div class="container show-container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>User Dashboard</h1>
      <h5><strong>Welcome back! </strong>
      <span><%= current_user.first_name %></span>
      <span><%= current_user.last_name %></span></h5><br>
      <p>Email: <%= current_user.email %></p>
      <p>Phone Number: <%= current_user.phone_number%></p>
      <%= link_to 'Explore All Rockets ', rockets_path, class:'btn btn-primary mt-auto'%><br><br>
    </div>

    <div class="col-sm-12 col-md-4">
      <p>photo here</p>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col-sm-12 col-md-8">
      <table class="table table-striped">
        <tr>
          <th>Order #</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Price</th>
          <th>Withdraw</th>
        <% @user.orders.each do |order|%>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.start_date %></td>
            <td><%= order.end_date %></td>
            <td>$<%= order.total_price %></td>
            <td><%= link_to 'View', order_path(order)%></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-sm-12 col-md-4 d-flex flex-column">
      <div class="rocket-dash-container">
        <div class="list-group">
          <li class="list-group-item list-group-item-secondary">
            <strong>Manage Rockets</strong>
          </li>
          <% @user.rockets.each do |rocket|%>
            <a href="<%=rocket_path(rocket)%>" class="list-group-item list-group-item-action"><%= rocket.name %></a>
          <% end %>
        </div>
      </div>
      <br>
      <%= link_to 'Add Rocket ', new_rocket_path(@rocket), class:'btn btn-primary mt-auto'%>
    </div>
  </div>
</div>

