<div class="container mt-3 show-container dp-03 dp-container px-3">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="dashboard mb-4">
        <h1>User Dashboard</h1>
      </div>
      <div class="dashboard m-3">
        <h5><strong>Welcome back!</strong>
        <span><%= current_user.first_name %></span>
        <span><%= current_user.last_name %></span></h5>
      </div>
      <div class="dashboard m-3">
        <p><i class="far fa-envelope mr-3"></i><%= current_user.email %></p>
        <p><i class="fas fa-phone mr-3"></i><%= current_user.phone_number%></p>
      </div>
      <div class="dashboard m-3">
        <%= link_to 'Edit profile', edit_user_registration_path, class:'btn btn-outline-dark dp-border-radius mb-3'%>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="avatar-container">
        <img src="https://source.unsplash.com/random/200x200" class="img-center-container" >
      </div>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-sm-12 col-md-8">
      <table class="table dp-border-radius">
        <tr>
          <th>Order #</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Price</th>
          <th>Edit</th>
        <% @user.orders.each do |order|%>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.start_date %></td>
            <td><%= order.end_date %></td>
            <td>$<%= order.total_price %></td>
            <td><%= link_to 'View', order_path(order)%></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col-sm-12 col-md-4 d-flex flex-column">
      <div class="mb-3">
        <div class="list-group dp-border-radius">
          <li class="list-group-item">
            <strong>Manage Rockets</strong>
          </li>
          <% if @user.rockets.empty? %>
            <p class="list-group-item">You haven't listed any rockets</p>
          <% else %>
            <% @user.rockets.each do |rocket|%>
              <a href="<%=rocket_path(rocket)%>" class="list-group-item list-group-item-action"><%= rocket.name %></a>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to 'Add a new Rocket ', new_rocket_path(@rocket), class:'btn btn-outline-dark btn-lg mt-auto dp-border-radius mb-3'%>
      <%= link_to 'Explore all Rockets ', rockets_path, class:'btn btn-outline-dark btn-lg mt-auto dp-border-radius mb-3'%>
    </div>
  </div>
</div>

